* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
p,
body {
  margin: 0;
  padding: 0;
}

p {
  padding-top: 16px;
  font-size: 1.25rem;
  line-height: 1.5em;
}

.intro-chunk {
  padding: 96px 24px 64px 24px;
  max-width: 415px;
}

h1 {
  margin: 0;
  padding-bottom: 32px;
}

h2 {
  width: max-content;
  padding: 16px;
  padding-left: 32px;
  margin: 0;
  margin-left: -32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  padding-top: 64px;
  padding-bottom: 64px;
  border-top: solid 8px hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 40%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: solid 8px hsl(0deg, 0%, 60%);
  padding: 24px;
  padding-top: 8px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: auto;
}

em {
  font-style: normal;
}
